.news-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .news-feed .container {
    width: 100%;
    max-width: 1200px; /* Adjust the max-width as needed */
  }
  
  .news-feed .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .filters-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  