.App {
  text-align: center;
  background-color: orange;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */
.news-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.news-item {
  flex-basis: 70%;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  margin-right: 70px;
  border-radius:1px 5px solid black;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* App.css */
.news-feed {
  margin: 20px auto;
}

.news-item {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.news-item:hover {
  transform: translateY(-5px);
  background-color:skyblue;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.news-item .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.news-item .card-text {
  font-size: 1rem;
  color: #666;
}

.news-item .btn-primary {
  background-color: #007bff;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

.news-item .btn-primary:hover {
  background-color: #0056b3;
}

